{
  "extends": ["prettier"],
  "rules": {
    "no-var": "warn",
    "eqeqeq": "error",
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
